/* Basic Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* Body Styling */

body{

    font-family: Arial, sans-serif;

     background: linear-gradient(
        to bottom,
        black 25%,
        #022f71 75%
        
    );

    color:white;

    

}


/* Navigation Bar */

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:15px 10%;

    background:black;

    color:white;

    position:sticky;

    top:0;

}


/* Logo */

.logo h2{

    font-size:25px;

}


/* Navigation Links */

nav a{

    color:white;

    text-decoration:underline;

    margin-left:20px;

    font-size:16px;

}


nav a:hover{

    color:#90caf9;

}



/* Home Section */

#home{

    display:flex;

    justify-content:space-around;

    align-items:center;

    padding:80px 10%;

    min-height:70vh;

}



.home-text{

    max-width:500px;

}



.home-text h3{

    font-size:30px;

}



.home-text h1{

    font-size:50px;

    color:lightseagreen;

}



.home-text h2{

    margin:15px 0;

}



.home-text p{

    line-height:1.6;

    margin-bottom:20px;

}


/* Button */

button{

    padding:12px 25px;

    background:#0d47a1;

    color:white;

    border:none;

    border-radius:5px;

    cursor:pointer;

}


button:hover{

    background:#1565c0;

}



/* Image */

.home-image img{

    width:500px;

    height:500px;

    border-radius:50%;

    object-fit:cover;

}



/* All Sections */

section{

    padding:35px 10%;

}


/* Section Titles */

section h2{

    text-align:center;

    color:white;

    margin-bottom:30px;

}



/* Education Table */

table{

    width:100%;

    border-collapse:collapse;
    background:rgb(40, 166, 220);

}



table,th,td{

    border:1px solid black;

}



th,td{

    padding:15px;

    text-align:center;

}


/* Skills */

.skill-box{

    display:inline-block;

    background:rgb(40, 166, 220);

    padding:20px;

    margin:10px;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

}



/* Projects */

.project{

    padding:20px;

    margin:20px 0;

    border-radius:10px;

    box-shadow:0 5px 15px rgba(0,0,0,0.1);

    background:rgb(40, 166, 220);

}



/* Footer */

footer{

    text-align:center;

    padding:20px;

    background:black;

    color:white;

}